[run]
source =
  {{ cookiecutter.project_namespace }}

[paths]
source =
  src
  **/site-packages/pixl

[report]
omit =
    setup.py
    src/{{ cookiecutter.project_namespace }}/{{ cookiecutter.project_slug }}/__main__.py
    src/{{ cookiecutter.project_namespace }}/{{ cookiecutter.project_slug }}/_version.py
    tests/*
