[run]
source = {{ cookiecutter.project_namespace }}
command_line = -m pytest

[report]
omit =
    setup.py
    {{ cookiecutter.project_namespace }}/{{ cookiecutter.project_slug }}/__main__.py
    {{ cookiecutter.project_namespace }}/{{ cookiecutter.project_slug }}/_version.py
    tests/*
