name: ght-render-repo
on:
  pull_request:
    branches:
      - ght/master

jobs:
  ght-render-repo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master

      - name: Get last Merge Commit of the ght/render branch to Master
        id: last-render
        run: |
          last_render=$(git log --merges -1 --grep 'ght/render' --pretty=format:'%H')
          if [ -z $last_render ]; then
            last_render=master
          fi
          echo "::set-output name=treeish::${last_render}"

      - uses: actions/checkout@v2
        with:
          ref: ${{ steps.last-render.outputs.treeish }}

      - name: Fetch all branches
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: Prepare tree for re-rendering
        run: |
          git rm -rf .
          git checkout origin/ght/master -- .
          git checkout origin/${{ github.head_ref }} -- .github/ght.yaml

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install ght-render dependencies
        run: |
          python -m pip install --upgrade pip
          pip install jinja2 jinja2-cli jinja2-time pyyaml
      - run: |
          .github/bin/ght-render.sh render-tree-structure
          .github/bin/ght-render.sh render-tree-ght_content
          .github/bin/ght-render.sh render-tree-content
          .github/bin/ght-render.sh remove-workflows

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: master
          branch: ght/render
          branch-suffix: timestamp
          commit-message: |
            Render ght/master into master

            This commit was obtained as follows:
              1. Checkout the last merged rendering of ght/master
                 git checkout ${{ steps.last-render.outputs.treeish }}
              2. Replace its contents with ght/master
                 git rm -rf .
                 git checkout origin/ght/master -- .
              3. Load the configured ght.yaml from PR #${{ github.event.number }} file
                 git checkout ${{ github.sha }} -- .github/ght.yaml
              4. Execute the rendering steps
                 .github/bin/ght-render.sh render_tree_structure
                 .github/bin/ght-render.sh render_tree_ght_content
                 .github/bin/ght-render.sh render_tree_content
                 .github/bin/ght-render.sh finish
              5. Commit
                 git commit

          title: Render ght/master into master
          reviewers: ${{ github.actor }}
          body: |
            Please review the changes and fix any conflicts before merging.

            If the configuration variables were incorrect, please close this PR and
            use your ght-configure PR #${{ github.event.number }} to edit the values.



